<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="../images/logo2.png" alt="Logo" width="270px" class= d-inline-block align-text-top"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavHeader" aria-controls="navbarNavHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavHeader">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sobreNosotros.html">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="carousel1" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/banner1xd.jpg" class="d-block w-100" alt="banner">
                <div class="carousel-caption">
                    <h4>Horizon</h4>
                    <p>New Collection</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../images/banner2xd.jpg" class="d-block w-100" alt="banner">
                <div class="carousel-caption">
                    <h4>Nuevos Ingresos</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../images/banner3xd.jpg" class="d-block w-100" alt="banner">
                <div class="carousel-caption">
                    <h4>Mejores Precios</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../images/banner4xd.jpg" class="d-block w-100" alt="banner">
                <div class="carousel-caption">
                    <h4>Envios a Todo el País</h4>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="container">
        <h1 class="text-center mb-3">Bienvenidos a Horizon</h1>
        <h2 class="text-center">Categorías</h2>
        <div class="row text-center mb-3">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <div class="card shadow">
                    <img src="../images/remeras.jpg" class="card-img-top" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Remeras</h5>
                        <p class="card-text">Nuestras remeras ofrecen máxima comodidad y estilo. Disponibles en una amplia gama de colores y tallas, perfectas para cualquier ocasión.</p>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <div class="card shadow">
                    <img src="../images/pantalones.jpg" class="card-img-top" alt="pantalones">
                    <div class="card-body">
                        <h5 class="card-title">Pantalones</h5>
                        <p class="card-text">Diseñados para ofrecer el equilibrio perfecto entre estilo y confort. Ideales para uso diario o para salir con amigos. Disponibles en varios colores y cortes.</p>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
                <div class="card shadow">
                    <img src="../images/conjuntos.jpg" class="card-img-top" alt="conjuntos">
                    <div class="card-body">
                        <h5 class="card-title">Conjuntos</h5>
                        <p class="card-text">Perfectos para un look relajado y moderno. Combinaciones de tops, remeras y pantalones con diseños versátiles que te harán sentir cómoda.</p>
                        <a href="#" class="btn">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <h2 class="text-center">Productos</h2>
        <div class="row text-center mb-3">
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/conjunto1.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Conjunto Deportivo</h5>
                        <p class="card-text">Ideal para tus rutinas de ejercicio, te ofrece comodidad y estilo.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/conjunto2.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Conjunto Casual</h5>
                        <p class="card-text">Elige este conjunto casual para un look relajado y versátil en cualquier ocasión.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/conjunto3.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Conjunto Elegante</h5>
                        <p class="card-text">Perfecto para eventos formales, este conjunto destaca por su sofisticación y estilo.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/conjunto4.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Conjunto Fiesta</h5>
                        <p class="card-text">Brilla en tus eventos sociales con este conjunto festivo, diseñado para destacar.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/remeras1.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Crop-Top Manga Corta</h5>
                        <p class="card-text">Fresca y ligera, ideal para los días más cálidos sin perder el estilo.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/remeras2.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Polera Manga Larga</h5>
                        <p class="card-text">Combina esta polera con jeans o pantalones para un look casual pero elegante.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/remeras3.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Remera Manga Corta</h5>
                        <p class="card-text">Perfecta para cualquier ocasión, esta remera te asegura comodidad todo el día.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/remeras4.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Crop-Top Polera Manga Larga</h5>
                        <p class="card-text">Con un diseño moderno y cómodo, perfecto para pasar el día con estilo.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/pantalones1.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Pantalón Cargo Jean</h5>
                        <p class="card-text">Práctico y moderno, este pantalón te ofrece versatilidad para cualquier actividad.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/pantalones2.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Pantalón Jean</h5>
                        <p class="card-text">Un básico en tu ropero, este jean es ideal para cualquier look casual y cómodo para el estar todo el día.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/pantalones3.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Pantalón Corto Jean</h5>
                        <p class="card-text">Ideal para días de calor, combina comodidad y estilo en una sola prenda.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div> <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-3">
                <div class="card shadow mx-auto" style="width: 14rem;">
                    <img src="../images/pantalones4.jpg" class="card-img" alt="remeras">
                    <div class="card-body">
                        <h5 class="card-title">Pantalón Cargo</h5>
                        <p class="card-text">Funcional y moderno, este pantalón es perfecto para quienes buscan un look práctico y a la moda.</p>
                        <a href="#" class="btn">Comprar</a>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <footer class="py-3 my-4">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <div class="row w-100">
                    <div class="col-auto">
                        <a class="navbar-brand" href="index.html">
                            <img src="../images/logo loto.png" alt="Logo" width="100px" class= d-inline-block align-text-top">
                        </a>
                    </div>
                    <div class="col">
                        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavFooter" aria-controls="navbarNavFooter" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNavFooter">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="sobreNosotros.html">Sobre Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-end">
                        <a href="#" class="icon me-2">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a href="https://www.instagram.com/bringmethehorizon/" class="icon me-2">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="icon me-2">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <p class="text-center" style="color: white;">&#169; 2024 Horizon</p>
    </footer>
</body>
</html>