<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asignar Paquetes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .btn-salir {
      background-color: red;
      color: white;
      padding: 8px 16px;
      font-size: 0.9rem;
      float: right;
    }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center">Asignar Paquetes</h1>
    
    <div class="row">
      <div class="col-md-6">
        <h2>Repartidores disponibles:</h2>
        <form method="POST" action="{{ url_for('asignar_paquete') }}">
          <div class="form-group">
            <label for="repartidor">Seleccionar Repartidor:</label>
            <select class="form-control" id="repartidor" name="repartidor_id">
              {% for repartidor in repartidores %}
                <option value="{{ repartidor.id }}">{{ repartidor.nombre }} (DNI: {{ repartidor.dni }})</option>
              {% endfor %}
            </select>
          </div>
          
          <h2>Paquetes disponibles para asignar:</h2>
          {% if paquetes %}
            {% for paquete in paquetes %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="paquete{{ paquete.id }}" name="paquetes[]" value="{{ paquete.numeroenvio }}">
                <label class="form-check-label" for="paquete{{ paquete.id }}">
                  Número de Envío: {{ paquete.numeroenvio }} - Dirección del Destinatario: {{ paquete.dirdestinatario }}
                </label>
              </div>
            {% endfor %}
          {% else %}
            <p>No hay paquetes disponibles para asignar en esta sucursal.</p>
          {% endif %}
          
          <input type="hidden" name="repartidor_dni" value="">
          
          <button type="submit" class="btn btn-primary mt-3">Asignar Paquetes</button>
          <button type="button" class="btn btn-salir" onclick="location.href='/despachante'">Volver</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("repartidor").addEventListener("change", function() {
        var dni = this.options[this.selectedIndex].getAttribute('data-dni');
        document.querySelector('input[name="repartidor_dni"]').value = dni;
      });
    });
  </script>

</body>
</html>
