<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogiPack - Despachante</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <div class="bg-white text-dark py-3">
      <div class="container">
        <h1 class="text-center">LogiPack - Despachante</h1>
      </div>
    </div>
    <h2 class="text-center mb-4">Menú</h2>
    <div class="card bg-white border-secondary">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="{{ url_for('registrar_paquete') }}" class="text-dark">Registrar Paquete</a>
          </li>
          <li class="list-group-item">
            <a href="{{ url_for('salidatransporte') }}" class="text-dark">Salida de transporte</a>
          </li>
          <li class="list-group-item">
            <a href="{{url_for('llegadatransporte')}}" class="text-dark">Llegada de transporte</a>
          </li>
          <li class="list-group-item">
            <a href="{{url_for('asignar_paquete')}}" class="text-dark">Asignar Paquetes a Repartidor</a>
          </li>
        </ul>
        <input class="boton" type="submit" value="Volver al Inicio" name="Volver al inicio" onclick="location.href='http://127.0.0.1:5000/'">
      </div>
    </div>
  </div>
</body>
</html>