<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Sucursal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center">Seleccionar Sucursal</h1>
        <form action="{{ url_for('inicio') }}" method="POST">
            <div class="form-group">
                <label for="sucursalSelect">Seleccione la sucursal</label>
                <select class="form-control" id="sucursalSelect" name="sucursal_id" required>
                    {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id }}">
                            {{ sucursal.numero }} - {{ sucursal.provincia }} - {{ sucursal.localidad }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Seleccionar</button>
        </form>
    </div>
</body>
</html>