
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogiPack - Registro de Paquete Exitoso</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <div class="bg-white text-dark py-3">
      <div class="container">
        <h1 class="text-center">LogiPack - Registro de Paquete Exitoso</h1>
      </div>
    </div>
    <h2 class="text-center mb-4">Registro de Paquete Exitoso</h2>
    <div class="card bg-white border-secondary">
      <div class="card-body">
        <p>El paquete se registro exitosamente.</p>
        <input class="boton" type="submit" value="Continuar" name="Continuar" onclick="location.href='http://127.0.0.1:5000/despachante'">
        
      </div>
    </div>
  </div>
</body>
</html>